@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Walter+Turncoat&family=Yusei+Magic&family=Zen+Kurenaido&display=swap');


.Sidebar {
    height: 100vh;
    width: 200px;
    background-color: rgb(240, 240, 52);
    position: fixed;
    top: 0;
    left: 0;
    /* box-sizing: border-box; */
}

.SidebarList {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    height: auto;
    text-align: center;
    padding: 0;
    width: 100%;
}

.SidebarList #active {
    background-color: rgb(235, 135, 21);
}

.SidebarList .row {
    width: 100%;
    height: 60px;
    /* color: white; */
    line-height: 60px;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center; */
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: rgb(235, 135, 21,0.4);
}