@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Walter+Turncoat&family=Yusei+Magic&family=Zen+Kurenaido&display=swap');
.kakeibo{
    margin: auto;
    font-family: "Zen Kurenaido", sans-serif;
    font-size: 1.25rem;
    background-color: #FFF7E9;
    width: 100%;
}

thead{
    background-color: #f9d8ad;
}
